<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>
                ip
            </th>
            <th>
                类目
            </th>
            <th>
                平台
            </th>
            <th>
                访问时间
            </th>
            <th>
                ua
            </th>
            <th>
                爬虫?
            </th>
            <th>
                国家
            </th>
            <th>
                地区
            </th>
            <th>
                省份
            </th>
            <th>
                城市
            </th>
            <th>
                县
            </th>
            <th>
                isp
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let visit of visits">
            <td>
                {{ visit.ip }}
            </td>
            <td>
                {{ visit.category }}
            </td>
            <td>
                {{ visit.platform }}
            </td>
            <td>
                {{ visit.visitTime | date: 'yyyy-MM-dd HH:mm' }}
            </td>
            <td [title]="visit.userAgent">
                {{ visit.userAgent | slice:0:9 }}
            </td>
            <td>
                {{ visit.isEngineSpider }}
            </td>
            <td>
                {{ visit.country }}
            </td>
            <td>
                {{ visit.area }}
            </td>
            <td>
                {{ visit.region }}
            </td>
            <td>
                {{ visit.city }}
            </td>
            <td>
                {{ visit.county }}
            </td>
            <td>
                {{ visit.isp }}
            </td>
        </tr>
    </tbody>
</table>
<pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.pageSize"
    [(ngModel)]="pagination.pageNo"
    (pageChanged)="list($event)"
    [align]="true"
    [maxSize]="5"
    class="pagination-sm pull-right"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"></pagination>
